.search-bar {
  width: 40%;
  display: block;
  margin: 100px auto;
}
.input {
  text-align: center;
}
.bobabutt {
  width: 40%;
  display: block;
  margin: 20px auto;
  background-color: #8cd1fc;
  color: white;
}
#question {
  text-align: center;
  font-size: 18px;
}
