<div id="wrapper">
  <div class="container">

    <div class="search-bar">
      <h3 id="question">What are my bubble tea options?</h3>
      <input class="input" type="text" placeholder="Location">
    </input>
      <button class="button bobabutt">
        Boba Me
      </button>
    </div>
  </div>
</div>
