<div id="wrapper">
  <div class="container">

    <div class="search-bar">
      <p>What are my bubble tea options?</p>
      <input class="input" type="text" placeholder="Location">
    </input>
      <button class="button ">Boba Me</button>
    </div>
  </div>
</div>
